<div class="panel panel-default dropshadow">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <div class="panel-heading">Пользователь</div>
        <md-card-title>{{Model.Name}}</md-card-title>
        <div class="panel-body" *ngIf="Model" >
            <div class="form-group">
                <label>Id:</label>
                <span>{{Model.Id}}</span>
            </div>
            <input [(ngModel)]="Model.Name" placeholder="Имя">

            <div class="form-group">
                <label for="sel1">Роли:</label>
                <div class="well well-sm">
                    <div class="form-group">
                        <div *ngIf="SelectedRole"> </div>
                        <md-toolbar >
                            <span class="input-group-addon" id="basic-addon3">Добавить роль:&nbsp;</span>
                            <select class="form-control" aria-describedby="basic-addon3" [(ngModel)]="SelectedRole">
                                <option *ngFor="let role of Roles| arrayFilter: UserRoles" value="{{role.Id}}">{{role.Name}}</option>
                            </select>
                            <span class="input-group-btn">
                                <button (click)="AddRole()" class="btn btn-primary">Добавить</button>
                            </span>
                        </md-toolbar>
                    </div>
                    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp">
                        <thead>
                            <tr><th width="10%">Id</th><th>Название</th><th width="10%"></th></tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of Model.Roles" >
                                <td>{{role.Id}}</td>
                                <td>{{role.Name}}</td>
                                <td>
                                    <a (click)="RemoveRole(role)" md-button>удалить</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" (click)="Save()">Сохранить</button>
            <button class="btn btn-danger"  (click)="Delete()">Удалить</button>
        <a class="btn btn-default" role="button" href="javascript:history.back();">Назад</a>
        </div>
    </div>
</div>
