<nav class="navbar navbar-inverse navbar-fixed-top dropshadow">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">СКЭ 2.0-alpha-1</a>
    </div>
    <ul class="nav navbar-nav">
      
    </ul>
    <ul class="nav navbar-nav navbar-right">      
        <li *ngIf="!jwt" >
            <input type="text" [(ngModel)]="Model.UserName">
            <input type="password" [(ngModel)]="Model.Password">
            <button class="btn btn-default" (click)="submit()">Войти</button>
        </li>

        <li *ngIf="profile && jwt" dropdown (on-toggle)="toggled($event)">
            <a href id="simple-dropdown" dropdownToggle>
            <span class="glyphicon glyphicon-user"></span> {{profile.UserName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
            <li>
            <a *ngIf="jwt"  (click)="logout()">Выйти</a>
            </li>
            </ul>
        </li>
    </ul>
  </div>   
</nav>

  