<div class="row animated" [ngClass]="{fadeInDown: active,fadeOutUp: !active}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-primary">
			<div class="panel-heading">Права  {{Model.Name}}</div>  
			<div class="panel-body">  
				<div *ngIf="Model">
				<div class="form-group">
				  <label>Id:</label>
				  <span>{{Model.Id}}</span>
				</div>	
				<div class="form-group">
				  <label>Название:</label>
				  <input type="text" class="form-control" [(ngModel)]="Model.Name" placeholder="Название">
				</div>
                <div class="form-group">
				  <label>Модуль:</label>
				  <select [(ngModel)]="SelectedSection" class="form-control">
                      <option *ngFor="#element of Sections" value="{{element.Id}}">
                          {{element.Name}}
                          </option>
                  </select>
				</div>
				</div>
				<button class="btn btn-primary" (click)="Save()">Сохранить</button>
				<button class="btn btn-default" (click)="Delete()">Удалить</button>
			</div>
		</div>
	</div>
</div>