<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="x_panel ">  
	<button class="btn btn-default" (click)="gotoCreate()">Добавить</button>		
	<table class="table table-bordered table-striped">
	<thead>
	<tr><th></th><th>Id</th><th>Название</th></tr>
	</thead>
	<tbody>
	<tr *ngFor="#role of Model" >
		<td>
			<span (click)="Edit(role)">редактировать</span>
		</td>
		<td>{{role.Id}}</td>
		<td>{{role.Name}}</td>
	</tr>
	</tbody>
	</table>
	</div></div></div>