<div class="row animated" [ngClass]="{fadeInDown: active,fadeOutUp: !active}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-primary">
			<div class="panel-heading">Роли</div>  
			<div class="panel-body">
				<div class="well well-sm">
					<button class="btn btn-primary" (click)="Create()">Добавить</button>
				</div>
				<div class="form-group">				
					<table class="table table-bordered table-striped">
					<thead>
					<tr><th width="10%">Id</th><th>Название</th><th width="10%"></th></tr>
					</thead>
					<tbody>
					<tr *ngFor="#role of Model" >						
						<td>{{role.Id}}</td>
						<td>{{role.Name}}</td>
						<td>
							<a (click)="Edit(role)" class="btn btn-info btn-xs">редактировать</a>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
		  <div class="panel-footer"></div>		
		</div>
	</div>
</div>