<div *ngIf="Model" class="mdl-grid">	
    <div   class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        Организация
       {{Model.Name}}  
        
            <div>
                <label>Id:</label>
                <span>{{Model.Id}}</span>
            </div>
                <input [(ngModel)]="Model.Name" placeholder="Название"/>
        
                <button (click)="Save()">Сохранить</button>
                <button (click)="Delete()">Удалить</button>
        
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
       
           Подразделения  
             <div *ngIf="Departments" >
                <departments-list [Model]="Departments" [ParentId]="0"></departments-list>
            </div>
        
	</div>    
</div>

