<div class="mdl-grid">	
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <md-card>        
         <md-card-title>
         <md-card-title-text>
          <span class="md-headline">Больничные</span>
        </md-card-title-text>
      </md-card-title>
        <md-card-content>
            <hr>
            <div>
                <label>Номер заявки:</label>
                <span>{{Model.Id}}</span>
            </div>
            <hr>
            <div>
                <span class="input-group-addon" id="basic-addon3">Сотрудник:</span>                          
				
            </div>
            <div>                
                <md-input style="width:100%" [(ngModel)]="Model.SicklistNumber" placeholder="Номер больничного листа"></md-input>
            </div>
            <div>                
                <md-input style="width:100%" [(ngModel)]="Model.BeginDate" placeholder="Дата начала"></md-input>
            </div>
            <div>                
                <md-input style="width:100%" [(ngModel)]="Model.EndDate" placeholder="Дата окончания"></md-input>
            </div>
            <div>
                <span class="input-group-addon" id="basic-addon3">Тип больничного:</span>                          
				{{Model.SicklistType.Name}}
            </div>
            <div>
                <span class="input-group-addon" id="basic-addon3">В случае ухода за ребенком:</span>                          
				
            </div>
            <div>
                <span class="input-group-addon" id="basic-addon3">Ограничение заработка (пособия):</span>                          
				
            </div>
            <div>
                <span class="input-group-addon" id="basic-addon3">Заполнение табеля:</span>                          
				
            </div>
        </md-card-content>
        <md-card-actions>
                <button md-raised-button (click)="Save()">Сохранить</button>
                <button md-raised-button (click)="Delete()">Удалить</button>
        </md-card-actions>
        </md-card>
    </div>  
</div>