<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Больничные</div>
  <div class="panel-body">
    <button class="btn btn-primary" (click)="Create()">Добавить</button>
  </div>

  <!-- Table -->
  <table  class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: auto;">Номер заявки</th>
            <th>Сотрудник</th>
            <th>Подразделение</th>
            <th>Вид заявки</th>
            <th>Дата начала</th>
            <th>Дата Окончания</th>
            <th style="width: auto;"></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of Model" >
        <td>{{element.Data.Id}}</td>
        <td>{{element.Person.Name}}</td>
        <td>{{element.Person.StaffEstablishedPost.Department.Name}}</td>
        <td>{{element.Data.SicklistType.Name}}</td>
        <td>{{stringAsDate(element.Data.BeginDate) | date}}</td>
        <td>{{stringAsDate(element.Data.EndDate) | date}}</td>
        <td>
            <a (click)="Edit(element)">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
    </tbody>
  </table>
</div>
