<ul class="sidebar-nav ">			
    <li router-active class="sidebar-brand">
        <a [routerLink]=" ['Index'] " class="bgcolor1 logolink">
            <object type="image/svg+xml" data="/assets/img/logo.svg" style="margin-top:3px;" width="50" height="50"></object>
            <span style="text-shadow: -2px 2px 2px rgba(50, 50, 50, 0.8);vertical-align:top;font-size:x-large;font-family:'Times New Roman', Times, serif">
                Русконсалт</span>
        </a>    
    </li>
    <li *ngIf="findPermissionById(1)" ><a>Администрирование</a>
        <ul>
            <li router-active>
                <a [routerLink]=" ['Users'] ">Пользователи</a>
            </li>
            <li router-active>
                <a [routerLink]=" ['Roles'] ">Роли</a>
            </li>
            <li router-active>
                <a [routerLink]=" ['Permissions'] ">Права доступа</a>
            </li>
            <li router-active>
                <a [routerLink]=" ['Sections'] ">Модули</a>
            </li>
        </ul>        
    </li>
    <li>
        
    </li>
</ul>