<div class="mdl-grid">	
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <md-card>
        <md-card-subtitle>Организация</md-card-subtitle>
        <md-card-title>{{Model.Name}}</md-card-title>   
        <md-card-content>
            <div>
                <label>Id:</label>
                <span>{{Model.Id}}</span>
            </div>
                <md-input [(ngModel)]="Model.Name" placeholder="Название"></md-input>
        </md-card-content>
        <md-card-actions>
                <button md-raised-button color="primary" (click)="Save()">Сохранить</button>
                <button md-raised-button (click)="Delete()">Удалить</button>
        </md-card-actions>
        </md-card>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <md-card>
            <md-card-title>Подразделения</md-card-title>   
            <md-card-content>
                <departments-list [Organization]="Model.Id"></departments-list>
            </md-card-content>
        </md-card>
	</div>    
</div>

