
<div class="mdl-grid">	
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        
            <span>Организации</span>
           
                <button  color="primary" (click)="Create()">Добавить</button>
            
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
        <table  class="table">
        <thead>
        <tr><th width="10%">Id</th><th>Название</th><th width="10%"></th></tr>
        </thead>
        <tbody>
        <tr *ngFor="#element of Model" >						
            <td>{{element.Id}}</td>
            <td>{{element.Name}}</td>
            <td>
                <a (click)="Edit(element)">
                    <i class="fa fa-pencil-square-o  fa-2x" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
        </table>
    </div>	
</div>

			
		  